<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ffutche</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="css/home_login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<nav class="navbar navbar-css navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"><img src="/img/ffutche_logo.jpg" style="height:150px; width:350px"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/ourwork">
                                    <p class="text-center">
                                        Our Work 
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/galleries">
                                    <p class="text-center">
                                        Galleries
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/contactus">
                                    <p class="text-center">
                                        Contact Us
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/aboutus">
                                    <p class="text-center">
                                        About Us
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <h2 class="text-center">Impacting Lives</h2>
                            </div>
                            <div class="col-md-3 col-md-offset-1" style="padding-top:10px">
                                <button type="button" class="btn btn-info btn-lg">Donate</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/register">
                                    <p class="text-center">
                                        Join Us
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/signin">
                                    <p class="text-center">
                                        Sign In
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info">Search</button>
                            </div>
                        </div>
                        <div>
                        <div>
                       <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                               <div class="navbar-inner">
                                 <div class="nav navbar-inner">
                                    <li class="active navbar-text"><a href="/"><strong>Home</strong><span class="sr-only">(current)</span></a></li>
                                     <li class="dropdown"><a href="/healthcare" class="navbar-text dropdown-toggle" data-toggle="dropdown">
                                        HealthCare<span class="caret"></span></a>
                                               <ul class="dropdown-menu">
                                                    <li><a href="/healthcare">Events</a></li>
                                                    <li><a href="#"></a></li>
                                                </ul>
                                       
                                         </li>

                                             <li class="dropdown"><a href="/education" class="navbar-text dropdown-toggle" data-toggle="dropdown">
                                                Education<span class="caret"></span></a>
                                                  <ul class="dropdown-menu">
                                                    <li><a href="#">Apply Scholarship</a></li>
                                                    <li><a href="#">Sponsor Scholarship</a></li>
                                                </ul>
                                         </li>
                                              <li><a href="/development" class="navbar-text">Development</span></a></li>
                                          </div>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" >
    <div class="row">
<div class="col-md-4">
    <div class="jumbotron jumbotron-sm">
        
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
                </div>
        </div>
      
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                             <input type="text" class="form-control" id="subject"  placeholder="Enter subject" required="required" />
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
          
    </div>
</div>
        </div>
         
    </div>
</div>
<div class="container-fluid navbar-bottom">
    <div class="row">
        <div class="col-md-4">
            <div>
                <p><strong>FFutche Foundation</strong></p>
            </div>
            <div>
                <p>Address</p>
            </div>
            <div>
                <p>Phone</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <p>Website</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-bottom:30px">
                <a href="/getinvolved">
                    <p class="text-center">
                        Get Involved
                    </p>
                </a>
            </div>
            <div class="row" style="padding-bottom:30px">
                <a href="/blog">
                    <p class="text-center">
                        Blog
                    </p>
                </a>
            </div>
            <div class="row">
                <a href="/waystogive">
                    <p class="text-center">
                        Ways to Give
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-bottom:30px">
                <a href="/aboutus">
                    <p class="text-center">
                        About Us
                    </p>
                </a>
            </div>
            <div class="row" style="padding-bottom:30px">
                <a href="/revenues">
                    <p class="text-center">
                        Revenues
                    </p>
                </a>
            </div>
            <div class="row">
                <a href="/expenditure">
                    <p class="text-center">
                        Expenditure
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="index/index.js"></script>

<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>