<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ffutche</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="css/home_login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<nav class="navbar navbar-css navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"><img src="/img/ffutche_logo.jpg" style="height:150px; width:350px"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/ourwork">
                                    <p class="text-center">
                                        Our Work
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/galleries">
                                    <p class="text-center">
                                        Galleries
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/contactus">
                                    <p class="text-center">
                                        Contact Us
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/aboutus">
                                    <p class="text-center">
                                        About Us
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <h2 class="text-center">Impacting Lives</h2>
                            </div>
                            <div class="col-md-3 col-md-offset-1" style="padding-top:10px">
                                <button type="button" class="btn btn-info btn-lg">Donate</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/register">
                                    <p class="text-center">
                                        Join Us
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/signin">
                                    <p class="text-center">
                                        Sign In
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info">Search</button>
                            </div>
                        </div>
                        <div>

                        </div>
                        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                               <div class="navbar-inner">
                                 <div class="nav navbar-inner">
                                    <li class="active navbar-text"><a href="/"><strong>Home</strong><span class="sr-only">(current)</span></a></li>
                                     <li class="dropdown"><a href="/healthcare" class="navbar-text dropdown-toggle" data-toggle="dropdown">
                                        HealthCare<span class="caret"></span></a>
                                               <ul class="dropdown-menu">
                                                    <li><a href="/healthcare">Events</a></li>
                                                    <li><a href="#"></a></li>
                                                </ul>
                                       
                                         </li>

                                             <li class="dropdown"><a href="/education" class="navbar-text dropdown-toggle" data-toggle="dropdown">
                                                Education<span class="caret"></span></a>
                                                  <ul class="dropdown-menu">
                                                    <li><a href="#">Apply Scholarship</a></li>
                                                    <li><a href="#">Sponsor Scholarship</a></li>
                                                </ul>
                                         </li>
                                              <li><a href="/development" class="navbar-text">Development</span></a></li>
                                          </div>
                              </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div id="trump" class="item active">
                        <img src="/img/trump_president.jpg" alt="Trump President" style="height:520px">
                    </div>

                    <div id="syria" class="item">
                        <img src="/img/syria_aleppo.jpg" alt="Syria Aleppo" style="height:520px">
                    </div>

                    <div id="james" class="item">
                        <img src="/img/james_clapper.jpg" alt="James Clapper" style="height:520px">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-default panel"style="height:520px; border-radius: 0px">
                <div class="panel panel-heading">
                    <div class="panel-title">
                        <strong id="narrative_title">
                            <!--Title Filled in through index.js jquery-->
                        </strong>
                    </div>
                </div>
                <div class="panel-body">
                    <p id="narrative_body">
                        <!--Body Filled in through index.js jquery-->
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel-card panel" style="margin-bottom:5px">
                        <div class="panel-body" style="padding-bottom:0px">
                            <img src="/img/health_fair.jpg">
                            <p class="text-center" style="margin-bottom:0px">Health Fair</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-card panel" style="margin-bottom:5px">
                        <div class="panel-body" style="padding-bottom:0px">
                            <img src="/img/scholarship.jpg">
                            <p class="text-center" style="margin-bottom:0px">Scholarships</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-card panel" style="margin-bottom:5px">
                        <div class="panel-body" style="padding-bottom:0px">
                            <img src="/img/local_health_centers.jpg">
                            <p class="text-center" style="margin-bottom:0px">Local Health Centers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-card" style="margin-bottom:5px">
                        <div class="panel-heading" style="padding-bottom:0px">
                            <div class="panel-title">
                                Latest News
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" style="margin-bottom:6px">
                                <li class="list-group-item">
                                    <a href="#"><p>Trump is next US president</p></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#"><p>Syrian forces recapture Aleppo</p></a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#"><p>Senate votes on SCOTUS nominee</p></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-card panel" style="margin-bottom:2px">
                        <div class="panel-body" style="padding-bottom:0px">
                            <img src="/img/workforce_training.jpg">
                            <p class="text-center" style="margin-bottom:0px">Workforce Training</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid navbar-bottom">
    <div class="row">
        <div class="col-md-4">
            <div>
                <p><strong>FFutche Foundation</strong></p>
            </div>
            <div>
                <p>Address</p>
            </div>
            <div>
                <p>Phone</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <p>Website</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-bottom:30px">
                <a href="/getinvolved">
                    <p class="text-center">
                        Get Involved
                    </p>
                </a>
            </div>
            <div class="row" style="padding-bottom:30px">
                <a href="/blog">
                    <p class="text-center">
                        Blog
                    </p>
                </a>
            </div>
            <div class="row">
                <a href="/waystogive">
                    <p class="text-center">
                        Ways to Give
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-bottom:30px">
                <a href="/aboutus">
                    <p class="text-center">
                        About Us
                    </p>
                </a>
            </div>
            <div class="row" style="padding-bottom:30px">
                <a href="/revenues">
                    <p class="text-center">
                        Revenues
                    </p>
                </a>
            </div>
            <div class="row">
                <a href="/expenditure">
                    <p class="text-center">
                        Expenditure
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="index/index.js"></script>

<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>