<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ffutche</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="css/home_login.css">
    <link rel="stylesheet" href="lib/alertifyjs/css/alertify.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<nav class="navbar navbar-css navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#"><img src="/img/ffutche_logo.jpg" style="height:150px; width:350px"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="/ourwork">
                                    <p class="text-center">
                                        Our Work
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/galleries">
                                    <p class="text-center">
                                        Galleries
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/contactus">
                                    <p class="text-center">
                                        Contact Us
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/aboutus">
                                    <p class="text-center">
                                        About Us
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <h2 class="text-center">Impacting Lives</h2>
                            </div>
                            <div class="col-md-3 col-md-offset-1" style="padding-top:10px">
                                 <a href="/donate">
                                <button type="button" class="btn btn-info btn-lg">Donate</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <% if ( userFirstName ) { %>
                                <p class="text-center" style="color:#19b9e7">Hello <%= userFirstName %> <%= userLastName %> !</p>
                                <% } else { %>
                                <a href="/register">
                                    <p class="text-center">
                                        Join Us
                                    </p>
                                </a>
                                <% } %>
                            </div>
                            <div class="col-md-3">
                                <% if ( userFirstName ) { %>
                                <a href="/signout">
                                    <p class="text-center">
                                        Sign Out
                                    </p>
                                </a>
                                <% } else { %>
                                <a style="cursor: pointer; cursor: hand;" data-toggle="modal" data-target="#signinModal">
                                    <p class="text-center">
                                        Sign In
                                    </p>
                                </a>
                                <% } %>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info">Search</button>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="padding-bottom:15px">
    <div class="row">
        <div class="col-md-offset-4">
            <ul class="nav nav-pills homepage">
                <li role="presentation">
                    <a href="/">Home</a>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Healthcare <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/healthcare">Events</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Education <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% if ( userFirstName ) { %>
                        <li><a href="/appliedscholarships">Applied Scholarships</a></li>
                        <% } %>
                        <li><a href="/applyscholarship">Apply Scholarship</a></li>
                        <li><a href="/sponsorscholarship">Sponsor Scholarship</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Development <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        ...
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default" style="border-radius: 0px">
                <div class="panel panel-heading">
                    <div class="panel-title">
                        <h2>Overview of Our Programs and Services</h2>
                    </div>
                </div>
                <div class="panel panel-body">
                    <h3>Ffutche Foundation missions are</h3>
                    <ul class="list-group">
                        <li class="list-group-item">To improve the health of a local population through health fair events, which include health data collection, free generic tests, free generic drugs, free doctor consultations, etc.</li>
                        <li class="list-group-item">To foster affordable education through scholarship opportunities and workforce training programs in a local community.</li>
                        <li class="list-group-item">To drive local development through awareness campaigns, fundraising for specific projects, etc.</li>
                    </ul>

                </div>
            </div>
            <div class="panel panel-default" style="border-radius: 0px">
                <div class="panel panel-heading">
                    <div class="panel-title">
                        <h2>Services provided</h2>
                    </div>
                </div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"> Show events and health fairs happening </li>
                        <li class="list-group-item"> Users can sponsor scholarship </li>
                        <li class="list-group-item"> Users can apply for scholarship based on pre-requiste and eligibility </li>
                        <li class="list-group-item"> Information about training and work force development. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid navbar-bottom">
    <div class="row">
        <div class="col-md-4">
            <div>
                <p><strong>FFutche Foundation</strong></p>
            </div>
            <div>
                <p>Address</p>
            </div>
            <div>
                <p>Phone</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div>
                <p>Website</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-bottom:30px">
                <a href="/getinvolved">
                    <p class="text-center">
                        Get Involved
                    </p>
                </a>
            </div>
            <div class="row" style="padding-bottom:30px">
                <a href="/blog">
                    <p class="text-center">
                        Blog
                    </p>
                </a>
            </div>
           
        </div>
        <div class="col-md-4">
            
            <div class="row" style="padding-bottom:30px">
                <a href="/revenues">
                    <p class="text-center">
                        Revenues
                    </p>
                </a>
            </div>
            <div class="row">
                <a href="/expenditure">
                    <p class="text-center">
                        Expenditure
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="signinModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="emailsignup">Email ID</label>
                    <input type="text" class="form-control" id="emailsignup" name="emailsignup" placeholder="Enter your email id" required/>
                </div>
                <div class="form-group">
                    <label for="passwordsignup">Password</label>
                    <input type="password" class="form-control" id="passwordsignup" name="passwordsignup" placeholder="Enter your password" required/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="signinSubmit()" >Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Javascript -->

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/alertifyjs/alertify.min.js"></script>
<script src="index/index.js"></script>

<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>